<app-header titulo="card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nihil aut quas ipsum soluta, minima architecto, repellat quidem in omnis aperiam suscipit recusandae, consequatur consectetur enim dolorem dicta fugiat mollitia.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <img src="https://i.pinimg.com/564x/16/48/eb/1648ebc9e5577c5970bf309ded87b803.jpg">
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nihil aut quas ipsum soluta, minima architecto, repellat quidem in omnis aperiam suscipit recusandae, consequatur consectetur enim dolorem dicta fugiat mollitia.
    </ion-card-content>
  </ion-card>

</ion-content>
